body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

section {
  min-height:50vh;  
}

.btn-l {
  padding: 1.1rem 2rem;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 2rem;
}

/* .content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  font-size: 1.2em;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.logo{
  position: absolute;
  top: 20px;
  left: 20px;
  height: 20px;
}

.logo img{
  width: 70px;
  height: auto;
}

.banner{
  /* agrega la imagen banner */
  background: linear-gradient(90deg, rgba(29, 128, 159, 1), rgba(255, 255, 255, 0.6)), url("../img/background-min.jpg");
  /* fondo total */
  background-size: cover;
  /* altura vertical */
  height: 100vh;
  /* oculatar el scroll horizontal */
  overflow: hidden;
  /* modo de fusion */
  background-blend-mode: multiply;
  /* proyecta una sombra difuminada */
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.25);
  /* posiciona el fondo al centro */
  background-position: center center;
  /* otras caracteristicas */
  background-repeat: no-repeat;
  overflow: hidden;
  position: static;

}


.banner h1 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  color:#e6e6ea;
}

.banner h3 {
  color: #e6e6ea;
  font-size: 1.5rem;
}

.banner a{
  border-radius: 30px ;
  color:  #fed766 !important;
  font-size: 1em;
}

@media (min-width: 992px) {
  .banner {
    height: 100vh;
  }
  .banner h1 {
    font-size: 4rem;
  }
}

.shadow{
  margin: 0px 50px 50px 0px;
  padding: 0 !important;

  box-shadow: 5px 10px #888888;
}

.button-up {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.button-up:focus, .button-up:hover {
  color: #f3cd74;
  text-decoration: none;
}

.button-up:hover {
  background: #343a40;
  /* border: solid 1px #f3cd74; */
}

.service-icon {
  background-color: rgba(255, 255, 255, 0.9); 
  color: #1D809F;

  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
  padding: 15rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
}

.trabajos {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: auto auto 1rem;
}

.trabajos img{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%,rgba(0, 0, 0) 100%);
}




#services{
  background: rgb(26,118,147);
background: linear-gradient(90deg, rgba(26,118,147,1) 0%, rgba(0,176,212,1) 100%);
}

.map iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

footer

a {
  color: #1D809F;
}

a:hover, a:focus, a:active {
  color: #155d74;
}

.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-secondary {
  background-color: #fed766 !important;
  border-color: #fed766 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #1D809F !important;
}

.text-primary {
  color: #1D809F !important;
}

.text-secondary {
  color: #fed766 !important;
}


.about{
  margin: 4em 0;
  padding: 1em;
  min-height: 100%vh; 
 }
 .about h1{
  color:#f4f4f4;
  margin: 2em;
 }
 .about img{
     border-radius: 50%;
     padding: 50px;
 }
 .about span{
  display: block;
  color: #888;
  position: absolute;
  left: 115px;
 }
 .about .desc{
  padding: 2em;
  border-left:4px solid #1D809F;
 }
 .about .desc h3{
  color: #1D809F;
 }
 .about .desc p{
  line-height:2em;
  color:#888;
  text-align: justify;
  text-justify: inter-word;
 }

 .contact-form{
  margin: 6em 0;
  position: relative;  
 }
 
 .contact-form h2{
  /* padding:2em 1px; */
  margin: auto auto 2em;
  color:  #1D809F; 
 }
 .contact-form .right{
  max-width: 600px;
 }
 .contact-form .right .btn-secondary{
  background:   #1D809F;
  color: #fff;
  border:0;
 }
 .contact-form .right .form-control::placeholder{
  color: #888;
  font-size: 16px;
 }

 #id{
   background-color: #fed766 !important;
 }

 #escribame {
   color:  #666;
 }

 footer{
   background-color: #1D809F;
 }

 #btn-enviar{
   color: #555 !important;
 }

 .centered{
   color: #555 !important;
 }

 .azul {
  color:   #1D809F !important; 
 }

 .amarillo {
  color:   #f3cd74 !important; 
 }

 .blanco {
  color:   #fff !important; 
 }

 .dropdown-menu{
   /* background-color: rgba(255, 255, 255, 0.2); */
   color: white;
   border: 0px;
   background: #6c757d;
 }

 .dropdown-menu a{
  color: #fff;
}

.dropdown-menu a:hover{
  text-decoration: none;
  color: #f3cd74 !important;
  background: #343a40
}

#dropdownMenuLink{
  border-radius: 10px;
}

#cv-texto{
  display: inline;
}

.cv-container {
  margin-top: 50px;
}

#cv{
  color: #f3cd74;
  background-color:  #343a40;
}

i:hover i:focus{
  text-decoration: none;
}


.text-center{
  color: #888;
}

.cv-icon {
  background-color: #fff;
  color: #1D809F;
  height: 5rem;
  width: 5rem;
  display: block;
  line-height: 5.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
}

.cv-icon:hover .cv-icon:focus{
  text-decoration: none !important;
  }

.container-titulos{
  margin-bottom: 50px;
}

.caja-redondeada{
  border-radius: 20px;
}

.sin-negrita{
  font-weight: 400 !important;
}

.subtitulos{
  font-size: 1.3em;
}

#contacto{
  background-color: #ededed;
}
.detalles ul {
  list-style: none;
  color:white;
  margin-left: 2.5em;
}


li span{
  color: transparent;
}

.whatsapp {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.7);
  line-height: 50px;
  z-index: 999;
  border-radius: 10px;
}

.whatsapp:hover {
  background: white;
}

.gradient{
  border: 2px solid #ededed;
  box-shadow: 30px 30px #888888;
}





